{% extends 'index.html' %}


{% block title %}Оформление - {{ block.super }}{% endblock %}


{% block content %}
    <section class="contact-img-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="con-text">
                        <h2 class="page-title">Корзина</h2>
                        <p><a href="{% url 'main' %}">Главная</a> | Корзина</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="checkout-area mt-0">
        <div class="container">
            <div class="row">
                    <div class="col-8 offset-md-2 mt-5">
                        <div class="ro-checkout-summary">
                            {% if not cart.products.count %}
                            <div class="ro-title">
                                <h3 class="checkbox9">Ваша корзина пуста</h3>
                            </div>
                            {% else %}
                            <div class="ro-title">
                                <h3 class="checkbox9">Корзина</h3>
                            </div>
                            {% endif %}
                            {% for item in cart.products.all %}
                            <div class="ro-body">
                                <div class="ro-item">
                                    <div class="ro-image mt-5">
                                        <a href="{{ item.content_object.get_absolute_url }}">
                                            <img src="{{ item.content_object.image.url }}" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="tb-beg">
                                            <a href="{{ item.content_object.get_absolute_url }}">Наименование товара: {{ item.content_object.title }}</a>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div>
                                        <div class="ro-quantity">
                                            <form action="{% url 'change_quantity' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="POST">
                                                <p class="quantity mt-1" style="float: left;"><strong>Штук:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
                                                {% csrf_token %}
                                                <input type="number" class="form-control" name="quantity" min="1" style="width: 70px; height: 25px; float: left;" value="{{ item.quantity }}">&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong><input type="submit" class="form-control bg-dark"  style="width: 70px; height: 25px; float: right; text-align: center; color: white;" value="Изменить"></strong>
                                            </form>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="ro-quantity">
                                            <strong class="product-quantity">Цена товара: {{ item.content_object.price }}</strong>
                                        </div>
                                      
                                        <br>
                                        <a class="button" style="float: right;" href="{% url 'delete_product_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-primary bg-dark " style="text-align: center; height: 25px; width: 70px;">Удалить</button></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="ro-footer">
                                <div>
                                    <p>
                                    ОБЩАЯ КОЛИЧЕСТВО ПРОДУКТОВ: 
                                        <span>
                                            <strong>
                                                <span class="amount">{{ cart.total_products }}</span>
                                            </strong>
                                        </span>
                                    </p>
                                    <p>
                                    ИТОГОВАЯ СУММА: 
                                        <span>
                                            <strong>
                                                <span class="amount">{{ cart.final_price }}</span>
                                            </strong>
                                        </span>
                                    </p>
                                    <div class="col-md-12 text-center">
                                        <p class="checkout-coupon">
                                            <a href="{% url 'order_checkout' %}"><input type="submit" value="Перейти к оформлению"></a>
                                        </p>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>


{% endblock %}







